<!DOCTYPE html>
<html>
  <head>
    <title>Ec7</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <body class='<%= "#{controller.controller_name}" %>'>
  </head>

  <body>
       <header>
        <nav>
         <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
         <% if user_signed_in? %> 
         <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
         <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
           Logged in as <strong><%= current_user.email %></strong>.
           <%= link_to 'プロフィール変更', edit_user_registration_path %> |
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
         <% else %>
          <%= link_to "サインイン", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
         <% end %>

         <!-- 管理者用 -->
         <% if admin_signed_in? %> 
        
          Logged in as <strong><%= current_admin.email %></strong>.
          <%#= link_to 'adminプロフィール変更', edit_admin_registration_path %> |
          <%= link_to "adminログアウト", destroy_admin_session_path, method: :delete %>
         <% else %>
          <%#= link_to "adminサインイン", new_admin_registration_path %> |
          <%= link_to "adminログイン", new_admin_session_path %>
         <% end %>
        </nav>
       </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
